<form #f="ngForm" (ngSubmit)="onSmt(f.value)">
  <div class="card ">

    <div class="card-header">
      Test Topic : {{testTopic}}
    </div>
    <hr>
    <div class="card-body"style="min-height: 50vh">
      <div class="row"*ngFor="let q of reponsesFinal">
        <div class="col-12">
          <h5 class="my-2">{{q.question.content}}</h5>
        </div>
        <hr>


        <div class="col-12" >
          <div class="form-group ">
            <div  *ngFor="let r of q.reponses" class="form-check my-4"  >
              <input class="form-check-input" type="radio" name="{{q.question.content}}" ngModel value="{{r.content}}" >
              <label class="form-check-label">{{r.content}}</label>
            </div>
          </div>


        </div>
      </div>



    </div>

  </div>
  <button class="btn btn-secondary text-center" type="submit">
    save
  </button>
</form>


