<div class="container-fluid" >
  <div class="row ">
    <div class="col-6 ">
      <h4>Tests PSY History</h4>
    </div>
  </div>
  <hr>
  <div class="row" *ngIf="testpsiesCompleted">
    <div class="col-sm-4" *ngFor="let t of testpsiesCompleted">
      <div class="small-box bg-gradient-success" style="width: 18rem;">
        <div class="inner">
          <p>{{t.test.topic}}</p>
        </div>
        <div class="icon">
          <i class="fas fa-file-alt"></i>
        </div>
        <a (click)="onGetTest(t)" class="small-box-footer" style="cursor: pointer">
          Start The Test <i class="fas fa-arrow-circle-right"></i>
        </a>
      </div>

    </div>
  </div>
</div>

