<div class="container min-vh-100 my-auto ">
  <div class="row align-items-center min-vh-100">
    <div class="col-6 mx-auto ">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Sign Up</h3>
        </div>
        <div class="card-body">
          <form #f="ngForm" (ngSubmit)="onSignUp(f.value)">
            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input type="text" name="first_name" id="firstname" ngModel class="form-control input-sm" placeholder="First Name">
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input type="text" name="last_name" id="lastname" ngModel class="form-control input-sm" placeholder="Last Name">
                </div>
              </div>
            </div>

            <div class="form-group">
              <input type="email" ngModel name="email" id="email"  class="form-control input-sm" placeholder="Email Address">
              <input type="hidden" ngModel name="activated" id="activated"  class="form-control input-sm" value="true" placeholder="Email Address">
            </div>

            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input type="password" name="password" id="password" class="form-control input-sm" ngModel placeholder="Password">
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input type="password" name="confirmedPassword" id="password_confirmation" ngModel class="form-control input-sm" placeholder="Confirm Password">
                </div>
              </div>
            </div>

            <input type="submit" value="Register" class="btn btn-info btn-block">

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
