<header class="masthead">
  <div class="container min-vh-100">
    <div class="row min-vh-100 align-items-center justify-content-center text-center">
      <div class="col-lg-10 align-self-end">
        <h4 class="text-uppercase text-white font-weight-bold ">Healty Company </h4>
        <h3 class="text-uppercase text-white font-weight-bold ">Suivi de l'Etat Psychologique des employees </h3>
        <hr class="divider my-4" />
      </div>
      <div class="col-lg-8 align-self-baseline">
        <a class="btn btn-info btn-xl js-scroll-trigger" routerLink="../login">SignIn Now</a>
      </div>
    </div>
  </div>
</header>
